<h4>¿Qué son los créditos?</h4>
<p class="well">Los créditos es la cantidad de GB o MB que puedes descargar. Para descargar un fichero de 200Mb, necesitas primero tener 200Mb o más de crédito, o no podrás descargarlo. A medida que vas descargando, tu crédito va disminuyendo.</p>

<h4>Ya tengo créditos, ¿cómo descargo?</h4>
<p class="well">Consulta la guia de <a href="/info/download">cómo descargar.</a></p>

<h4>¿Siempre necesito crédito para descargar?</h4>
<p class="well">No, hay descargas que no necesitan créditos. Las distinguirás con la etiqueta de <span class="label label-success" style="color:black;font-weight: bold">¡0 créditos!</span>. También es posible filtrar los listados para que solo aparezcan las descargas sin coste.</p>

<h4>¿Cómo consigo créditos?</h4>
<div class="well">
<p>Puedes hacerlo con una donación:
</p>
<ol>
    <li><a onclick="alert('Importante: no marques la casilla de compra de producto')" href="https://www.paypal.me/rocketlauncher/1">Paypal 1€</a> = 200 MB <!--(1 GB te sale por 5€)-->          <span class="small text-primary">1 slot   a 100 KB/s    </span></li>
    <li><a onclick="alert('Importante: no marques la casilla de compra de producto')" href="https://www.paypal.me/rocketlauncher/3">Paypal 3€</a> = 1 GB <!--(1 GB te sale por 3€)-->            <span class="small text-primary">1 slot   a 100 KB/s    </span></li>
    <li><a onclick="alert('Importante: no marques la casilla de compra de producto')" href="https://www.paypal.me/rocketlauncher/6">Paypal 6€</a> = 5 GB     <!-- (1 GB te sale por 1.2€)    --> <span class="small text-primary">1 slot   a 200 KB/s    </span></li>
    <li><a onclick="alert('Importante: no marques la casilla de compra de producto')" href="https://www.paypal.me/rocketlauncher/9">Paypal 9€</a> = 100 GB   <!-- (1 GB te sale por 0.09€)   --> <span class="small text-primary">2 slots  a 400 KB/s    </span></li>
    <li><a onclick="alert('Importante: no marques la casilla de compra de producto')" href="https://www.paypal.me/rocketlauncher/12">Paypal 12€</a> = 200 GB <!-- (1 GB te sale por 0.06€)   --> <span class="small text-primary">2 slots  a 800 KB/s    </span></li>
    <li><a onclick="alert('Importante: no marques la casilla de compra de producto')" href="https://www.paypal.me/rocketlauncher/15">Paypal 15€</a> = 600 GB <!-- (1 GB te sale por 0.025€)  --> <span class="small text-primary">4 slots  a 1 MB/s      </span></li>
    <li><a onclick="alert('Importante: no marques la casilla de compra de producto')" href="https://www.paypal.me/rocketlauncher/20">Paypal 20€</a> = 1.6 Tb <!-- (1 GB te sale por 0.0125€) --> <span class="small text-primary">6 slots  a 2 MB/s      </span></li>
    <li style="display:none"><a onclick="alert('Importante: no marques la casilla de compra de producto')" href="https://www.paypal.me/rocketlauncher/30">Paypal 35€</a> = 5.0 Tb <!-- (1 GB te sale por 0.0060€) --> <span class="small text-primary">10 slots sin limite  </span></li>
</ol>
<p class="text-danger">Importante: no marques la casilla de compra de producto cuando hagas una donación por Paypal.</p>
    <p>En función de los créditos acumulados que hayas añadido a tu saldo podrás descargar más o menos ficheros a la vez, lo que se denomina como <b>slots</b>.
        También se determina la velocidad de descarga: a mayor saldo acumulado añadido (aunque lo hayas gastado), mayor velocidad. Consulta nuestra guia sobre <a href="/home/slots">slots y velocidad</a>.
</p>
<p>Los créditos se pueden enviar entre usuarios y los administradores tienen la capacidad de regalar crédito a los usuarios si lo creen conveniente.</p>
</div>
