<h4>¿Cómo funciona esto?</h4>
<div class="well">

<p>La descarga se hace en dos partes:
    <ol>
    <li>Primero es necesario añadir los ficheros a "Mis descargas". Esto solo es posible si tienes <a href="/info/credits">créditos suficientes</a> para añadirlo o si la descarga no tiene coste (está marcada con
        <span class="label label-success" style="color:black;font-weight: bold">¡0 créditos!</span>)</li>
    <li>Una vez añadido, desde la zona de "Mis descargas" podrás ver los enlaces y bajarlos a mano desde el navegador o bajarlos usando JDownloader (¡recomendado!)</li>
</ol>
</p>
</div>

<h4>¿Cómo añado ficheros a "Mis descargas"?</h4>
<div class="well">
    <p>
En los listados, al lado de cada archivo se muestra lo que ocupa la descarga (por ejemplo 200Mb o 50Gb) y un botón.
El botón aparecerá de color verde con el texto "Añadir enlaces" cuando tengas créditos suficientes para descargalo o no tenga coste.
Una vez que lo pulses, primero se descontará de tu crédito el tamaño del fichero y después se generarán todos los enlaces personales para
bajar el fichero (que pueden ser muchos si el fichero es grande).</p>
</div>

<h4>No puedo añadir ficheros, me aparece siempre el botón rojo de "Créditos insuficientes".</h4>
<p class="well">Necesitas ampliar tu crédito para añadir esa descarga. Consulta la guia de <a href="/info/credits">cómo conseguir créditos</a> para incrementar tu saldo.</p>


<h4>Me he equivacado y he añadido una descarga que no quiero ¿puedo devolverla?</h4>
<div class="well">
    Si, si no has empezado a bajarla y los enlaces están sin usar podrás cancelarla y los créditos que has usado para añadirla serán devueltos a tu saldo.
</div>

<h4>¿Cómo bajo los ficheros desde "Mis descargas"?</h4>
<div class="well">
<p>La opción recomendada es hacerlo usando <a href="http://jdownloader.org/" target="_blank">JDownloader</a> <i class="fa fa-external-link" aria-hidden="true"></i>.
    Basta con tenerlo instalado y arrancado, ir a <a href="/downloads">"Mis descargas"</a>, pulsar el botón "Copiar enlaces" y automáticamente aparecerán
    en JDownloader.
</p>
    <p>Otra opción es, desde "Mis descargas", en la parte de abajo, bajar los ficheros uno por uno con el navegador haciendo click en los enlaces.</p>
</div>

<h4>¿Cuántas veces puedo descargar mis ficheros?</h4>
<div class="well">
    Tantas veces como quieras, pero tendrás que generar nuevos enlaces cada vez pues son de un solo uso.
</div>

<h4>¿Puedo compartir los enlaces de descargas?</h4>
<div class="well">
    No, los enlaces de cada descarga son de un solo uso y una vez utilizados para iniciar una descarga ya no sirven.
</div>

<h4>Ya me he bajados mis archivos ¿puedo generar los enlaces otra vez para que los use un amigo?</h4>
<div class="well">
    No, los enlaces son personales y hacer esto puede suponer ser baneado y perder todo el saldo añadido.
</div>



<h4>¿Es obligatorio usar JDownloader?</h4>
<div class="well">
No, para nada. La principal ventaja de usar JDownloader es poder descargar muchos ficheros sin tener que ir, uno por uno, haciendo click en el navegador. Además, JDownloader
    te permite definir una ruta específica de descarga para cada archivos, descomprimirlos automáticamente al acabar, limitar el ancho de banda consumido para que en tu casa
    no parezca que no funciona internet y, lo más importante, limitar el número de enlaces que te puedes bajar a la vez. Este número es lo que se denomina "slots", y varia en función
    sobre todo de tu saldo en créditos. Más información sobre <a href="/home/slots">slots</a>.
</div>
<h4>He intentado bajar un fichero y me dice "No tienes slots libres para iniciar esta descarga" ¿Qué son los slots?</h4>
<div class="well">
    Estás intentando bajar más ficheros a la vez que slots tienes disponibles. Deberás esperar a que finalice una descarga antes de iniciar una nueva o incrementar tu saldo de créditos.
    Consulta nuestra guia sobre <a href="/home/slots">slots</a> para ampliar información.
</div>

<h4>Me va lento ¿puedo incrementar la velocidad de descarga?</h4>
<div class="well">
    Si, dependerá de tu saldo en créditos. Para más información, consulta nuestra guia sobre <a href="/home/slots">slots y velocidad</a>.
</div>

