TD .time {
    color: #999;
}

.table.table-sm {
    height: 32px;
}


.tbl-cell-action-bordered A.btn-sm {
    font-size: 9pt !important;
    line-height: 9pt !important;
    padding: 0;
}

.color-cyan {
    color: #96dbdc !important;
}

.color-salmon {
    color: #fa720a !important;
}
