/* ==========================================================================
   Mixins
   ========================================================================== */
/* ==========================================================================
   Variables
   ========================================================================== */
/* ==========================================================================
   Mail
   ========================================================================== */
.mail-box {
  zoom: 1;
}
.mail-box:before,
.mail-box:after {
  content: " ";
  display: table;
}
.mail-box:after {
  clear: both;
}
/* ==========================================================================
   Header
   ========================================================================== */
.mail-box-header {
  padding: 10px 15px;
  zoom: 1;
  border-bottom: solid 1px #d8e2e7;
}
.mail-box-header:before,
.mail-box-header:after {
  content: " ";
  display: table;
}
.mail-box-header:after {
  clear: both;
}
.mail-box-header .mail-box-header-left,
.mail-box-header .mail-box-header-right {
  zoom: 1;
}
.mail-box-header .mail-box-header-left:before,
.mail-box-header .mail-box-header-right:before,
.mail-box-header .mail-box-header-left:after,
.mail-box-header .mail-box-header-right:after {
  content: " ";
  display: table;
}
.mail-box-header .mail-box-header-left:after,
.mail-box-header .mail-box-header-right:after {
  clear: both;
}
.mail-box-header .mail-box-header-left {
  float: left;
}
.mail-box-header .mail-box-header-right {
  float: right;
}
.mail-box-header .write,
.mail-box-header .btn-icon,
.mail-box-header .btns-icon {
  float: left;
}
.mail-box-header .btns-icon {
  zoom: 1;
}
.mail-box-header .btns-icon:before,
.mail-box-header .btns-icon:after {
  content: " ";
  display: table;
}
.mail-box-header .btns-icon:after {
  clear: both;
}
.mail-box-header .write {
  margin: 0 25px 0 0;
}
.mail-box-header .btn-icon {
  height: 38px;
  padding: 0;
  background: none;
  border: none;
  color: #919fa9;
  margin: 0 18px 0 0;
}
.mail-box-header .btn-icon:hover {
  color: #00a8ff;
}
.mail-box-header .btn-icon .font-icon {
  vertical-align: middle;
  position: relative;
  top: 1px;
}
.mail-box-header .search {
  float: left;
  width: 216px;
  position: relative;
}
.mail-box-header .search .form-control {
  padding-right: 35px;
}
.mail-box-header .search .btn-icon {
  position: absolute;
  right: 0;
  top: -1px;
  width: 12px;
}
.mail-box-header .mail-box-header-nav {
  float: left;
  line-height: 38px;
  zoom: 1;
  font-weight: 600;
}
.mail-box-header .mail-box-header-nav:before,
.mail-box-header .mail-box-header-nav:after {
  content: " ";
  display: table;
}
.mail-box-header .mail-box-header-nav:after {
  clear: both;
}
.mail-box-header .mail-box-header-nav li {
  float: left;
  margin: 0 30px 0 0;
}
.mail-box-header .mail-box-header-nav a {
  color: #343434;
}
.mail-box-header .mail-box-header-nav a:hover {
  color: #00a8ff;
}
.mail-box-header .mail-box-header-nav a.active {
  color: #0082c6;
}
/* ==========================================================================
   List
   ========================================================================== */
.mail-box-list {
  float: left;
  width: 372px;
  position: relative;
  border-right: solid 1px #d8e2e7;
  background: #f6f8fa;
  -webkit-border-radius: 0 0 0 3px;
          border-radius: 0 0 0 3px;
}
.mail-box-item {
  padding: 15px;
  position: relative;
  border-top: solid 1px #d8e2e7;
  cursor: default;
  font-size: .9375rem;
}
.mail-box-item:first-child {
  border-top: none;
}
.mail-box-item .mail-box-item-header {
  padding: 0 0 0 44px;
  position: relative;
  min-height: 32px;
}
.mail-box-item .mail-box-item-photo {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0;
  top: 0;
}
.mail-box-item .mail-box-item-photo img {
  width: 100%;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: block;
}
.mail-box-item .mail-box-item-head-tbl {
  line-height: 1rem;
  margin: 0 0 4px;
}
.mail-box-item .mail-box-item-head-tbl .tbl-cell {
  vertical-align: top;
}
.mail-box-item .mail-box-item-head-tbl .tbl-cell-date {
  text-align: right;
  width: 20px;
  white-space: nowrap;
  color: #919fa9;
  font-size: 0.875rem /*14/16*/;
  padding-left: 10px;
  padding-top: 1px;
}
.mail-box-item .mail-box-item-user-tbl {
  width: auto;
}
.mail-box-item .mail-box-item-user-tbl .tbl-cell-name {
  font-weight: 600;
}
.mail-box-item .mail-box-item-user-tbl .tbl-cell-new {
  white-space: nowrap;
  width: 10px;
  padding-left: 5px;
}
.mail-box-item .mail-box-item-user-tbl .tbl-cell-new .label {
  font-size: 0.75rem /*12/16*/;
  position: relative;
  top: -1px;
  padding-bottom: 2px;
}
.mail-box-item .mail-box-item-user-tbl .tbl-cell-status {
  width: 10px;
  white-space: nowrap;
  padding-left: 5px;
}
.mail-box-item .mail-box-item-user-tbl .tbl-cell-status .online {
  width: 6px;
  height: 6px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: relative;
  top: 5px;
  background: #46c35f;
}
.mail-box-item .mail-box-item-title {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mail-box-item .mail-box-item-content {
  position: relative;
  padding: 0 0 0 44px;
  color: #919fa9;
}
.mail-box-item .mail-box-item-content .attach {
  width: 32px;
  position: absolute;
  left: 0;
  top: 1px;
  text-align: center;
  font-size: .875rem;
}
.mail-box-item .mail-box-item-content .txt {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mail-box-item:hover,
.mail-box-item.selected {
  background-color: #ecf2f5;
}
.mail-box-item.selected-line:after {
  content: '';
  display: block;
  width: 4px;
  position: absolute;
  top: 10px;
  left: -1px;
  bottom: 10px;
  background: #ac6bec;
  -webkit-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}
.mail-box-item.selected-line.red:after {
  background-color: #fa424a;
}
/* ==========================================================================
   Word area
   ========================================================================== */
.mail-box-work-area {
  float: right;
  width: 100%;
  margin-left: -372px;
}
.mail-box-work-area .mail-box-work-area-in {
  margin-left: 372px;
}
.mail-box-work-area-header {
  border-bottom: solid 1px #d8e2e7;
  position: relative;
  padding: 12px 15px;
}
.mail-box-work-area-header:after {
  content: '';
  display: block;
  width: 4px;
  position: absolute;
  top: 10px;
  left: -1px;
  bottom: 10px;
  background: #ac6bec;
  -webkit-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}
.mail-box-work-area-header .tbl-cell-btns {
  width: 10px;
  white-space: nowrap;
}
.mail-box-work-area-header .btn-icon {
  height: 32px;
  padding: 0;
  background: none;
  border: none;
  color: #919fa9;
  margin: 0 0 0 20px;
}
.mail-box-work-area-header .btn-icon:hover {
  color: #00a8ff;
}
.mail-box-work-area-header .btn-icon .font-icon {
  vertical-align: middle;
  position: relative;
  top: 1px;
}
.mail-box-work-area-header .user-card-row {
  font-size: .9375rem;
}
.mail-box-work-area-header .letters-num {
  color: #818181;
  margin: 0 20px 0 0;
}
.mail-box-letter-item {
  margin: 5px;
  -webkit-border-radius: .25rem;
          border-radius: .25rem;
  background: #f6f8fa;
  padding: 13px;
  line-height: 18px;
  font-size: .9375rem;
}
.mail-box-letter-item .mail-box-letter-item-in {
  position: relative;
  padding: 0 0 0 44px;
  min-height: 32px;
}
.mail-box-letter-item .mail-box-letter-item-photo {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0;
  top: 2px;
}
.mail-box-letter-item .mail-box-letter-item-photo img {
  width: 100%;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  display: block;
}
.mail-box-letter-item .mail-box-letter-item-header .tbl-cell {
  vertical-align: middle;
}
.mail-box-letter-item .mail-box-letter-item-header .tbl-cell-name {
  font-weight: 600;
}
.mail-box-letter-item .mail-box-letter-item-header .tbl-cell-date {
  width: 10px;
  padding-left: 10px;
  white-space: nowrap;
  text-align: right;
  color: #919fa9;
  font-size: .875rem;
}
.mail-box-letter-item .mail-box-letter-item-txt {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mail-box-letter-opened {
  padding: 18px;
  overflow: hidden;
}
.mail-box-letter-opened .mail-box-letter-opened-header .tbl-cell {
  vertical-align: top;
}
.mail-box-letter-opened .mail-box-letter-opened-header .tbl-cell-name {
  font-weight: 600;
}
.mail-box-letter-opened .mail-box-letter-opened-header .tbl-cell-date {
  white-space: nowrap;
  padding-left: 10px;
  width: 20px;
  color: #919fa9;
  font-size: .875rem;
}
.mail-box-letter-opened .mail-box-letter-opened-header .tbl-cell-action {
  white-space: nowrap;
  padding-left: 10px;
  width: 10px;
}
.mail-box-letter-opened .mail-box-letter-opened-header .tbl-cell-action button {
  border: none;
  background: none;
  color: #919fa9;
}
.mail-box-letter-opened .mail-box-letter-opened-header .tbl-cell-action button:hover {
  color: #00a8ff;
}
.mail-box-letter-opened .mail-box-letter-files {
  margin: 0 -30px 0 0;
  padding: .5rem 0 1rem;
}
.mail-box-letter-opened .chat-area-bottom {
  padding: 0;
  border: none;
}
.mail-file {
  display: inline-block;
  max-width: 100%;
  vertical-align: top;
  position: relative;
  padding: 2px 30px 0 52px;
  height: 43px;
  background: no-repeat 0 0;
  background-size: auto 43px;
  margin: 0 0 20px 0;
  color: #818181;
  font-size: .9375rem;
}
.mail-file p {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
}
.mail-file.pdf {
  background-image: url('/assets/file-pdf.png');
}
.mail-file.doc {
  background-image: url('/assets/file-doc.png');
}
.mail-file.xls {
  background-image: url('/assets/file-xls.png');
}
.mail-file.img {
  background-image: url('/assets/file-img.png');
}
.chat-area-bottom {
  padding: 15px;
  border-top: solid 1px #d8e2e7;
  zoom: 1;
}
.chat-area-bottom:before,
.chat-area-bottom:after {
  content: " ";
  display: table;
}
.chat-area-bottom:after {
  clear: both;
}
.chat-area-bottom .caption,
.chat-area-bottom .btn {
  margin: 2px 12px 2px 0;
}
.chat-area-bottom .caption {
  display: inline-block;
  padding: .375rem 0 .375rem 42px;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
}
.chat-area-bottom .attach {
  float: right;
  position: relative;
  top: 11px;
}
.chat-area-bottom .write-message {
  position: relative;
  padding: 0 0 0 42px;
}
.chat-area-bottom .write-message .form-group {
  margin-bottom: 10px;
}
.chat-area-bottom .write-message .avatar {
  position: absolute;
  left: -3px;
  top: 0;
  width: 32px;
  height: 32px;
}
.chat-area-bottom .write-message .avatar img {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}
@media (max-width: 1199px) {
  .chat-area-bottom .caption {
    padding-left: 0;
  }
}
