/* ==========================================================================
   Mixins
   ========================================================================== */
/* ==========================================================================
   Variables
   ========================================================================== */
/* ==========================================================================
   Player
   ========================================================================== */
.cstm-player {
  line-height: normal;
  margin: 0 0 30px;
  zoom: 1;
}
.cstm-player:before,
.cstm-player:after {
  content: " ";
  display: table;
}
.cstm-player:after {
  clear: both;
}
.cstm-player .cstm-player-video {
  position: relative;
}
.cstm-player .cstm-player-video img {
  display: block;
  width: 100%;
  -webkit-border-radius: .25rem .25rem 0 0;
          border-radius: .25rem .25rem 0 0;
}
.cstm-player .cstm-player-video .hover {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  -webkit-border-radius: .25rem .25rem 0 0;
          border-radius: .25rem .25rem 0 0;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.cstm-player .cstm-player-video .hover .font-icon-play {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 2.5rem /*40/16*/;
  line-height: 1;
  margin: -20px 0 0 -13px;
}
.cstm-player .cstm-player-progress {
  height: 10px;
  background: #444444;
  position: relative;
}
.cstm-player .cstm-player-progress > div {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #00a8ff;
}
.cstm-player .cstm-player-inner {
  background: #fff;
  position: relative;
  border: solid 1px #d8e2e7;
}
.cstm-player .cstm-player-volume {
  margin: 0 auto;
  height: 10px;
  width: 100%;
  max-width: 320px;
  background: #eceff4;
  -webkit-border-radius: 25rem;
          border-radius: 25rem;
  position: relative;
}
.cstm-player .cstm-player-volume .progress {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #00a8ff;
  -webkit-border-radius: 25rem;
          border-radius: 25rem;
}
.cstm-player .cstm-player-volume .handle {
  width: 28px;
  height: 28px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  right: -14px;
  margin-top: -14px;
  cursor: pointer;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2), 0 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.2), 0 3px 1px rgba(0, 0, 0, 0.1);
}
.cstm-player .cstm-player-album {
  color: #6c7a86;
}
.cstm-player .cstm-player-controls {
  text-align: center;
  line-height: 1;
}
.cstm-player .cstm-player-controls .font-icon {
  cursor: pointer;
  color: #d8e2e7;
  vertical-align: middle;
}
.cstm-player .cstm-player-controls .font-icon:hover {
  color: #00a8ff;
}
.cstm-player.cstm-player-big .cstm-player-inner {
  border-top: none;
  -webkit-border-radius: 0 0 .25rem .25rem;
          border-radius: 0 0 .25rem .25rem;
  padding: 20px 10px 40px;
  text-align: center;
}
.cstm-player.cstm-player-big .cstm-player-inner .time {
  font-size: .875rem;
  color: #6c7a86;
  position: absolute;
  top: 8px;
}
.cstm-player.cstm-player-big .cstm-player-inner .time.time-left {
  left: 10px;
}
.cstm-player.cstm-player-big .cstm-player-inner .time.time-right {
  right: 10px;
}
.cstm-player.cstm-player-big .cstm-player-singer {
  font-size: 1.75rem /*28/16*/;
  margin: 0 0 6px;
}
.cstm-player.cstm-player-big .cstm-player-song {
  font-size: 1.25rem /*20/16*/;
  margin: 0 0 8px;
}
.cstm-player.cstm-player-big .cstm-player-controls {
  font-size: 2.5rem /*40/16*/;
  padding: 20px 0;
}
.cstm-player.cstm-player-big .cstm-player-controls .font-icon.font-icon-play-circle {
  font-size: 6rem /*96/16*/;
  margin: 0 1rem;
}
.cstm-player.cstm-player-small .cstm-player-preview {
  float: left;
  width: 147px;
  position: relative;
  z-index: 5;
}
.cstm-player.cstm-player-small .cstm-player-preview:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  -webkit-border-radius: .25rem 0 0 0;
          border-radius: .25rem 0 0 0;
}
.cstm-player.cstm-player-small .cstm-player-preview img {
  display: block;
  width: 100%;
  -webkit-border-radius: .25rem 0 0 0;
          border-radius: .25rem 0 0 0;
}
.cstm-player.cstm-player-small .cstm-player-inner {
  float: right;
  width: 100%;
  margin-left: -147px;
  border-left: none;
  border-bottom: none;
  -webkit-border-radius: 0 .25rem 0 0;
          border-radius: 0 .25rem 0 0;
}
.cstm-player.cstm-player-small .cstm-player-inner-in {
  margin-left: 167px;
  height: 97px;
  overflow: hidden;
}
.cstm-player.cstm-player-small .cstm-player-progress {
  clear: both;
  height: 8px;
  -webkit-border-radius: 0 0 .25rem .25rem;
          border-radius: 0 0 .25rem .25rem;
  overflow: hidden;
}
.cstm-player.cstm-player-small .cstm-player-progress > div {
  -webkit-border-radius: 0 0 0 .25rem;
          border-radius: 0 0 0 .25rem;
}
.cstm-player.cstm-player-small .cstm-player-controls {
  width: 135px;
  float: right;
  position: relative;
  z-index: 5;
  font-size: 1.25rem;
  line-height: 100px;
}
.cstm-player.cstm-player-small .cstm-player-controls .font-icon.font-icon-play-circle {
  font-size: 3.125rem /*50/16*/;
  margin: 0 5px;
}
.cstm-player.cstm-player-small .cstm-player-info {
  float: left;
  width: 100%;
  margin-right: -135px;
}
.cstm-player.cstm-player-small .cstm-player-info-in {
  margin-right: 135px;
  padding: 12px 0 0;
}
.cstm-player.cstm-player-small .cstm-player-singer,
.cstm-player.cstm-player-small .cstm-player-song,
.cstm-player.cstm-player-small .cstm-player-album {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 24px;
}
.cstm-player.cstm-player-small .cstm-player-singer {
  font-weight: 600;
}
.cstm-player.cstm-player-small .cstm-player-song,
.cstm-player.cstm-player-small .cstm-player-album {
  font-size: .875rem;
}
/* ==========================================================================
   Video Player
   ========================================================================== */
.cstm-video-player {
  margin: 0 0 30px;
  height: 320px;
  -webkit-border-radius: .25rem;
          border-radius: .25rem;
  background: #000 no-repeat 50% 50%;
  background-size: cover;
  position: relative;
}
.cstm-video-player .cstm-video-player-controls {
  height: 75px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-border-radius: 0 0 .25rem .25rem;
          border-radius: 0 0 .25rem .25rem;
  background: url('/assets/player-controls.png') repeat-x bottom;
  background-size: 2px 75px;
  padding: 32px 10px 0;
  z-index: 5;
}
.cstm-video-player .cstm-video-player-controls-left,
.cstm-video-player .cstm-video-player-controls-right {
  zoom: 1;
  padding: 5px;
}
.cstm-video-player .cstm-video-player-controls-left:before,
.cstm-video-player .cstm-video-player-controls-right:before,
.cstm-video-player .cstm-video-player-controls-left:after,
.cstm-video-player .cstm-video-player-controls-right:after {
  content: " ";
  display: table;
}
.cstm-video-player .cstm-video-player-controls-left:after,
.cstm-video-player .cstm-video-player-controls-right:after {
  clear: both;
}
.cstm-video-player .cstm-video-player-controls-left {
  float: left;
}
.cstm-video-player .cstm-video-player-controls-right {
  float: right;
}
.cstm-video-player .cstm-video-player-progress {
  height: 3px;
  position: relative;
  background: #444;
}
.cstm-video-player .cstm-video-player-progress .downloaded,
.cstm-video-player .cstm-video-player-progress .played {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.cstm-video-player .cstm-video-player-progress .downloaded {
  background: #777;
}
.cstm-video-player .cstm-video-player-progress .played {
  background: #00a8ff;
}
.cstm-video-player .cstm-video-player-btn {
  float: left;
  width: 36px;
  height: 32px;
  border: none;
  background: none;
  color: #fff;
  text-align: center;
}
.cstm-video-player .cstm-video-player-btn:hover {
  color: #00a8ff;
}
.cstm-video-player .cstm-video-player-btn .font-icon {
  position: relative;
  top: 1px;
}
.cstm-video-player .cstm-video-player-hover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  -webkit-border-radius: .25rem;
          border-radius: .25rem;
  color: #fff;
}
.cstm-video-player .cstm-video-player-hover .font-icon {
  font-size: 2.625rem;
  line-height: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -40px 0 0 -16px;
  cursor: pointer;
}
.cstm-video-player .cstm-video-player-hover .font-icon:hover {
  color: #00a8ff;
}
/* ==========================================================================
   Minimalistic Player
   ========================================================================== */
.minimalistic-player {
  position: relative;
  padding: 0 85px 0 0;
}
.minimalistic-player .progress {
  height: 4px;
  background: #eaedef;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  position: relative;
  overflow: hidden;
  margin: 0;
}
.minimalistic-player .progress > div {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  -webkit-border-radius: 2px 0 0 2px;
          border-radius: 2px 0 0 2px;
  background: #00a8ff;
}
.minimalistic-player .progress.sound {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 70px;
  overflow: visible;
}
.minimalistic-player .progress.sound .handle {
  content: '';
  display: block;
  width: 6px;
  height: 12px;
  border: solid 1px #fff;
  background: #00a8ff;
  position: absolute;
  right: 0;
  top: 50%;
  margin: -6px -3px 0 0;
  cursor: pointer;
}
.minimalistic-player .minimalistic-player-header {
  margin: 0 0 5px;
}
.minimalistic-player .minimalistic-player-header .tbl-cell {
  vertical-align: top;
}
.minimalistic-player .minimalistic-player-header .tbl-cell-action {
  padding-right: 8px;
  width: 5px;
}
.minimalistic-player .minimalistic-player-header .tbl-cell-action button {
  border: none;
  background: none;
  color: #adb7be;
  position: relative;
  top: 1px;
}
.minimalistic-player .minimalistic-player-header .tbl-cell-action button:hover {
  color: #00a8ff;
}
.minimalistic-player .minimalistic-player-header .tbl-cell-caption {
  padding-left: 4px;
}
.minimalistic-player .minimalistic-player-header .tbl-cell-time {
  text-align: right;
  white-space: nowrap;
  width: 20px;
  padding-left: 10px;
  color: #919fa9;
}
