<%@ page import="mamespin.Operation; tools.StringTools; tools.UAgent" %>
<!doctype html>
<html>
<head>
    <meta name="layout" content="main"/>
    <title>Home</title>

    <script type="application/javascript">
    </script>
</head>

<body>

<div class="col-lg-9 col-md-9 col-sm-8">
    ${raw(html)}
    %{--<my:html file="credits.html"/>--}%
</div>
</body>
</html>
